* {
    margin: auto;
    padding: 10px;
}
.logo {
    width: 140px;
    height: 140px;
}
.header1 {
    position: relative;
    left: 175px;
    bottom: 87px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-stretch: ultra-expanded;
}
.topnav {
    position: fixed;
    top: 42.5px;
    left: 190px;
    z-index: 2;
}
.topnav a {
    border: solid black 3px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 30px;
    background-color: white;
}
.topnav a:hover {
    background-color: rgba(119,188,63,255);
    color: white;
    opacity: 1;
}
.aboutus {
    border: solid black 3px;
    width: min-content;
    position: relative;
    left: 525px;
    bottom: 697.5px;
    font-size: larger;
    color: white;
    padding: 30px;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(119,188,63,255);
}
.profilepic {
    height: 125px;
    width: 125px;
}
center {
    font-size: x-large;
}
.bod1 {
    display: block;
    position: relative;
    bottom: 100px;
    width: 800px;
}
.food1 {
    height: 450px;
    width: 800px;
    position: relative;
    left: 175px;
    bottom: 50px;
    border: solid black 3px;
    border-radius: 10px;
    padding: 0%;
}
.caption1 {
    position: relative;
    left: 100px;
}